<footer class="footer">
  <div class="container">
    <ul class="weather-info">
      <li class="weather-info__box">
        <div class="weather-info__index">Ветер</div>
        <div class="weather-info__data weather-info__data-wind">
          5 м/c, западный
        </div>
      </li>

      <li class="weather-info__box">
        <div class="weather-info__index">Давление</div>
        <div class="weather-info__data weather-info__data-pressure">
          752 мм рт. ст.
        </div>
      </li>

      <li class="weather-info__box">
        <div class="weather-info__index">Влажность</div>
        <div class="weather-info__data weather-info__data-humidity">60%</div>
      </li>

      <li class="weather-info__box">
        <div class="weather-info__index">Облачность</div>
        <div class="weather-info__data weather-info__data-clouds">10%</div>
      </li>
    </ul>
  </div>
</footer>
