.temperature {
  @include media-4 {
    margin-bottom: 20px;
  }
  // .temperature__box
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .temperature__image
  &__image {
    @include media-4 {
      width: 100px;
    }
  }
  // .temperature__num
  &__num {
    font-size: 180px;
    line-height: 216px;
    text-align: center;

    @include media-4 {
      font-size: 140px;
      line-height: 190px;
    }
  }
  // .temperature__info
  &__info {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  // .temperature__measure
  &__measure {
    align-items: start;
    font-size: 90px;
    margin-bottom: auto;

    @include media-4 {
      font-size: 60px;
    }
  }
  // .temperature__measure-celcius
  &__measure-celcius {
    display: block;
  }
  // .temperature__measure-fahrenheit
  &__measure-fahrenheit {
    display: none;
  }
}
